body {
  background-color: rgb(73, 73, 175);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  text-align: center;
  color: white;
}
.card {
  background-color: #0d0d0d;
  padding: 50px;
  border-radius: 100px;
  margin: 250px;
  width: 2000px;
  height: 800px;
}
/* CONTAINER TOTAL */
.quadra {
  min-height: 400px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 30px;
}

/* LINHAS DAS IMAGENS */
.linha {
  width: 100%;
  max-width: 1200px;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}

/* CARDS DAS IMAGENS */
.card {
  height: 160px;
  border-radius: 15px;
  overflow: hidden;

  border: 3px solid white;

  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* REDE */
.rede {
  width: 100%;
  max-width: 1200px;
  height: 80px;

  background: url("rede.png") center/contain no-repeat;
}

/* RESPONSIVO */
@media (max-width: 1000px) {
  .linha {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .linha {
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    height: 130px;
  }

  .rede {
    height: 50px;
  }
}
/* CARDS */
.card {
  width: 250px;
  height: 360px;
  border-radius: 28px;
  overflow: hidden;
  background: #111;
  transition: 0.3s ease;
}

/* IMAGEM */
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

/* EFEITO */
.card:hover {
  transform: scale(1.04);
}
video {
  width: 700px;
  height: 650px;
  margin-top: 10px;
}
.video {
  display: flex;
  justify-content: baseline;
}
.container-imagens {
  width: 2000px; /* Defina a largura desejada */
  height: 1200px; /* Defina a altura desejada (igual à largura para quadrado) */
  overflow: hidden; /* Esconde o que passar do limite */
  padding: 0%;
  margin: 0%;
}

.container-imagens img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Faz a mágica do recorte proporcional */
  object-position: center; /* Centraliza a imagem no recorte */
  padding: 0%;
}
.section1 {
  background-color: rgb(236, 206, 108);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  padding: 20px;
  overflow-x: hidden;
  text-align: center;
  color: black;
}
.section2 {
  background-color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  padding: 20px;
  overflow-x: hidden;
  text-align: center;
  color: black;
}
av {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background: #222;
}

/* LINKS */
nav a {
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.3s;
}
/* EFEITO */
nav a:hover {
  transform: scale(1.08);
}

/* IMAGENS */
nav img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 3px solid #8b5cf6;
  border-radius: 15px;
}
.rodape {
  background-color: #0d0d0d;
  margin: 0%;
  padding-bottom: 0%;
}
.rodape img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 3px solid #8b5cf6;
  border-radius: 15px;
  align-items: center;
}
.botao {
  background-color: #c0c0c0;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.botao:hover {
  background-color: #000;
}
.botao {
  background-color: #000;
  color: whitesmoke;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}
.botao:hover {
  background-color: #c0c0c0;
  color: black;
}
.botao img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 3px solid #8b5cf6;
  border-radius: 15px;
  align-items: center;
  flex-direction: row;
}
